.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --main-color: #3a3a3a;
  --button-color: #e02c6d;
  --p-color: #6c6c6c;
  --p-size: 16px;
  --p-card-col: rgba(120, 120, 133, 1);
  --card-head: 28px;
  --card-head-size: rgba(24, 25, 31, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button */

.btn {
  padding: 10px 24px;
  border-radius: 41px;
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* share */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  font-size: var(--p-size);
  font-weight: 600;
  color: var(--p-color);
  margin: 16px 0;
}

/* header */

header {
  height: 100vh;
  overflow: hidden;
}

.hero {
  margin-top: 30px;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 34px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--main-color);
}

.logo {
  color: var(--main-color);
}

.hero-head {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
}

.hero-image {
  background-image: url(media/images/Circle\ design.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30rem;
  width: 30rem;
  position: relative;
}

.hero-image img{
    position: absolute;
    top:35px;
    left: 20px;
}

.hero-text h1 {
  color: var(--main-color);
  font-size: 53px;
  font-weight: bold;
  max-width: 36rem;
}

.hero-text p {
  max-width: 30rem;
}

.hero-bottom {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin: 30px 0;
}
