.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --main-color: #3a3a3a;
  --button-color: #e02c6d;
  --p-color: #6c6c6c;
  --p-size: 16px;
  --p-card-col: rgba(120, 120, 133, 1);
  --card-head: 28px;
  --card-head-size: rgba(24, 25, 31, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button */

.btn {
  padding: 10px 24px;
  border-radius: 41px;
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* share */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  font-size: var(--p-size);
  font-weight: 600;
  color: var(--p-color);
  margin: 16px 0;
}

/* header */

header {
  height: 100vh;
  overflow: hidden;
}

.hero {
  margin-top: 30px;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 34px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--main-color);
}

.logo {
  color: var(--main-color);
}

.hero-head {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
}

.hero-image {
  background-image: url(media/images/Circle\ design.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30rem;
  width: 30rem;
  position: relative;
}

.hero-image img {
  position: absolute;
  top: 35px;
  left: 20px;
}

.hero-text h1 {
  color: var(--main-color);
  font-size: 53px;
  font-weight: bold;
  max-width: 36rem;
}

.hero-text p {
  max-width: 30rem;
}

.hero-bottom {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin: 30px 0;
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, #d0d0d0, transparent);
}

/* Collection */

.collection,
.featured {
  margin: 130px auto;
}

.col-head {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  row-gap: 30px;
  justify-content: center;
  gap: 30px;
}

.card {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  max-width: fit-content;
  padding: 15px;
  border-radius: 9px;
}

.item-name {
  font-size: 28px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 6px;
}

.price {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 6px;
}

.reating,
.details {
  font-size: 14px;
  font-weight: bold;
  color: var(--p-color);
  line-height: 20px;
}

.reating {
  margin-bottom: 5px;
}

.more {
  text-align: right;
  margin-top: 50px;
}

.more a {
  text-decoration: none;
  color: var(--button-color);
  font-size: 16px;
  font-weight: bold;
}

/* Featured */

.featured {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.fe-img {
  width: 40%;
  text-align: center;
}

.fe-text {
  width: 60%;
}

.fe-text h2 {
  font-size: 38px;
  font-weight: bold;
  color: #0a0826;
}

.fe-text p {
  max-width: 38rem;
  line-height: 28px;
}

.btn-2 {
  border-radius: 0;
}

/* footer */

footer {
  background-color: #0a0826;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.footer h3 {
  font-size: 24px;
  font-weight: bold;
  color: rgba(217, 219, 225, 1);
}
.footer,
.footer p {
  color: rgba(217, 219, 225, 1);
  font-size: 14px;
  line-height: 24px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  padding: 8px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin: 0 8px;
}

@media screen and (max-width: 576px) {
  header {
    height: auto;
    overflow: visible;
    padding-bottom: 50px;
  }

  .container {
    margin: 0 15px;
  }

  .hero {
    margin-bottom: 30px;
  }
  nav {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 15px 0;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hero-main {
    flex-direction: column;
    height: auto;
    gap: 30px;
    margin-top: 20px;
  }

  .hero-image {
    order: -1;
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    position: static;
    margin-top: 20px;
  }

  .hero-text {
    text-align: center;
  }
  .hero-text h1 {
    font-size: 28px;
  }

  .btn {
    margin: 15px auto;
    width: fit-content;
  }

  .hero-bottom{
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
  }

  .featured{
    flex-direction: column;
    gap: 30px;
  }
  .fe-text{
    order: -1;
    width: 100%;
  }

  .fe-img{
    width: 100%;
  }

  .fe-img img{
    width: 97%;
    margin-bottom: 50px;
  }

  .company {
        height: 25px;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 557px) and (max-width: 992px) {
   .hero-main {
        padding: 0 20px; 
   }

   .grid{
    grid-template-columns: repeat(2, 1fr);
   }
   .featured {
        flex-direction: column; /* Stack image and text vertically */
        text-align: center;
        gap: 30px;
    }

    .fe-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}